
* {
    margin: 0px;
padding: 0px;
}

header{
    height: 120px;
    width: 100%;
    background-color: #363636;  
    border-bottom: solid green 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.imagem{
    height: 110px;
}

body{
    border-color: whitesmoke;
}


.container{
width: 80%;
height: 120px;
margin: auto;
display: flex;
align-items: center;
justify-content: space-between;
font-size: 25px;
color: green;

}

a{
background-color: 363636;
margin: 3px;
color: white;
border-radius: 3px;
text-decoration: none;
}

footer{
border-bottom: solid green 5px;
height: 150px;
background-color: #363636;
text-align: center;
color: whitesmoke;
margin-top: 25px;
margin-bottom: 0px;

}

.textfooter{
    font-size: 20px;
}


.corpo-musica{
width: 500px;
height: 100%;

justify-content: center;
align-items: center;
text-align: center;
margin-top: 60px;
margin: auto;

}

audio{
    filter: sepia(20%) saturate(20%) grayscale(1) contrast(99%) invert(90%);
    width: 450px;
    height: 80px;

}

.divmus{
text-align: center;
align-items: center;
justify-content: center;
display: flex;
flex-direction: column;
border: green 3px solid;
margin-top: 50px;
width: 500px;
height: 500px   ;
background-color: #4f4f4f;
border-radius: 10px ;
}

.perfil{
margin-top: 100px;
height: 200px;
width: 800px;
margin-left: auto;
margin-right: auto;
background-color: #4f4f4f;
border-radius: 5px;
padding: auto;
text-align: center;

}

.perfil h2{
    font-size: 25px;
    color: whitesmoke;
}

.container-votacao{
    margin-top: 100px;
    height: 400px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    background-color: aqua;
    background-color: #4f4f4f;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }

    .container-votacao span{
        color: white;
        font-size: 25px;
    }

    .content-votacao{
        width: 85%;
        height: 100%;
       
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 20px;
    }

    .container-votacao img{
        height: 200px;
        border-radius: 15px;
    }

    .contentmus{
text-align: center;
width: 33%;

    }

    .contentmus span{
        color: whitesmoke;
        font-size: 25px;
        }

    .ranking{
        margin-top: 100px;
        height: 400px;
        width: 800px;
        margin-left: auto;
        margin-right: auto;
        background-color: #4f4f4f;
        border-radius: 5px;
        
        }

    .musicasfavoritas{
        margin-top: 100px;
        height: 300px;
        width: 800px;
        margin-left: auto;
        margin-right: auto;
        background-color: #4f4f4f;
        border-radius: 5px;
        
    }    
    input{
        border-radius: 3px;
        border: green 1px solid;
        width: 200px;
        height: 25px;
    }


    .inputmusicas{
        height: 100%;
        width: 100%;
       text-align: center;
        font-size: 25px;
        color: white;
    }

    .musicasfavoritas     h1{
        color: white;
    text-align: center;
    -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: green;
        font-size: 35px;
    }

.container-votacao h1{
    color: white;
text-align: center;
-webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: green;
    font-size: 35px;
}

.ranking     h1{
    color: white;
text-align: center;
-webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: green;
    font-size: 35px;
}

.perfil h1{
font-size: 35px;
    color: white;
    text-align: center;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: green;
}


.imagemcan {
height: 300px;
width: 300px;
background-image: url("./justin.jpg");
background-size: cover;
border-radius: 8px;
margin-top: 60px;
opacity: 1;
}

button{
width: 150px;
height: 30px;
color: green;
background-color: black;
font-weight: bold;
border-radius: 6px;
}

.textoima:hover{
    
    text-align:center;
    opacity:1;
    height: 100%;
    width: 100%;
    border-radius: 8px;
    color: white;
    transition: 1s;
  }
  
  .textoima{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    height: 300px;
    width: 300px;
    opacity:0;
    background-color:rgba(0, 0, 0, 0.5);
    
  }

.imagemcan2 {
    height: 300px;
    width: 300px;
    
    background-image: url("./billie.jpg");
    background-size: cover;
    text-align: center;
    border-radius: 8px;
    margin-top: 60px;
    }


    .imagemcan3 {
        height: 300px;
        width: 300px;
        
        background-image: url("./dualipa.jpg");
        background-size: cover;
        border-radius: 8px;
        margin-top: 60px;
        }

       

        .btn-displays{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 20px;
        }

        #texto_votacao{
            padding: 10px;
            text-align: center;
        }

        #resultadoranking{
           text-align: center;
            color: white;
            margin-top: 5px;

        }