* {
    margin: 0px;
padding: 0px;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header{
    height: 120px;
    width: 100%;
    background-color: #363636;  
    border-bottom: solid green 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.imagem{
    height: 110px;
}

body{
    border-color: whitesmoke;
}


.container{
width: 80%;
height: 120px;
margin: auto;
display: flex;
align-items: center;
justify-content: space-between;
font-size: 25px;
color: green;

}

.container a{
background-color: 363636;
margin: 3px;
color: white;
border-radius: 3px;
text-decoration: none;
}


/* .btn a:hover{
    color: black;
    background-color: green;
} */

.container a:hover{
    background-color: white;
    color: #363636;
    }

footer{
    border-bottom: solid green 5px;
    height: 150px;
background-color: #363636;
text-align: center;
color: whitesmoke;
margin-top: 100px;
}

.corpo-login{
width: 700px;
height: 400px;
margin-left: auto;
margin-right: auto;
background-color: #4F4F4F; 
margin-top: 100px;   
border-radius: 8px;
border: solid green 3px;    
}

h1{
    text-align: center;
  margin-top: 30px;
  font-size: 35px;
  font-family:Arial, Helvetica, sans-serif;
  color: white;
  -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: green;
 
  
}

input{
width: 550px;
height: 30px;
margin-top: 25px;
border-radius: 7px;
color: black;
font-family:monospace ;
border: solid green 1px;
}

.texto{
font-size: 25px;
margin-left: 25px;
font-weight: bold;
color: white;
}

button{
height: 30px;
width: 140px;
background-color: black;
color: #32CD32;
border-radius: 7px;
font-weight: bold;
font-size: 18px;

}



.botoes{
    margin-top: 30px;
    text-align: center;
    
    text-decoration: none;
}

.btn{
    height: 30px;
    width: 140px;
    background-color: black;
    color: #32CD32;
    border-radius: 7px;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;     
}

a.abtn{
color: green;
text-decoration: none;}

a.abtn:hover{
    color: black;
    text-decoration: none;}
    

.btn:hover {
color: black;
background-color: green;
text-decoration: none;

}

.textfooter a{
    color: white;
    background-color: #363636;
}

.textfooter:hover a{
    color: #363636;
    background-color: white;
}
