* {
    margin: 0px;
padding: 0px;
}

header{
    height: 120px;
    width: 100%;
    background-color: #363636;  
    border-bottom: solid green 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.imagem{
    height: 110px;
}

body{
    border-color: whitesmoke;
}

.container{
width: 80%;
height: 120px;
margin: auto;
display: flex;
align-items: center;
justify-content: space-between;
font-size: 25px;
color: green;

}

a{
background-color: 363636;
margin: 3px;
color: white;
border-radius: 3px;
text-decoration: none;
}



a:hover{
background-color: white;
color: #363636;
}

.corpo{
width: 1300px;
height: 800px;
align-items: center;
justify-content: center;
text-align: center;
margin-top: 25px;
margin-right: auto;
margin-left: auto;

}

.banner{
height: 400px;
width: 100%;
background-image: url("./banner2.png");
text-align: center;
background-size: cover; 
justify-content: center;
align-items: center;
margin-top: auto;
border-radius: 15px;
}

h1{

font-size: 45px;


color: green;
}

h2{
font-size: 30px;

}

.cant1{
    margin-top: 50px;
    width: 45%;
    height: 350px;
    
    
    border-radius: 5px;
  
}
.cant1 img{
    
    height: 350px;
    border-radius: 10px;
}

.cant2{
    margin-top: 50px;
    width: 45%;
    height: 350px;
    
    margin-right: 40px;
   
    border-radius: 5px;
}
.cant2 img{
    border-radius: 10px;
    height: 350px;
   
    }

.cant{
    display: flex;
    justify-content: space-between;
}

.texto{
 margin-top: 150px; 

}

footer{
    border-bottom: solid green 5px;
    height: 150px;
background-color: #363636;
text-align: center;
color: whitesmoke;
margin-top: 25px;

}

.textfooter{
    font-size: 20px;
}

.textohover{
opacity: 1;
transition: 1s;
}

.textohover:hover{
opacity: 0.9;
transform: translateY(-100px);

z-index: 1;
}