* {
    margin: 0px;
padding: 0px;
}

header{
    height: 120px;
    width: 100%;
    background-color: #363636;  
    border-bottom: solid green 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.imagem{
    height: 110px;
}

body{
    border-color: whitesmoke;
}


.container{
width: 80%;
height: 120px;
margin: auto;
display: flex;
align-items: center;
justify-content: space-between;
font-size: 25px;
color: green;

}

a{
background-color: 363636;
margin: 3px;
color: white;
border-radius: 3px;
text-decoration: none;
}

footer{
border-bottom: solid green 5px;
height: 150px;
background-color: #363636;
text-align: center;
color: whitesmoke;
margin-top: 25px;
margin-bottom: 0px;

}

.textfooter{
    font-size: 20px;
}

.pt1{
    width: 800px;
    height: 200px;
    background-color: blue;
   
}