* {
    margin: 0px;
padding: 0px;
}

header{
    height: 120px;
    width: 100%;
    background-color: #363636;  
    border-bottom: solid green 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.imagem{
    height: 110px;
}

body{
    border-color: whitesmoke;
}

.container{
width: 80%;
height: 120px;
margin: auto;
display: flex;
align-items: center;
justify-content: space-between;
font-size: 25px;
color: green;

}

a{
background-color: 363636;
margin: 3px;
color: white;
border-radius: 3px;
text-decoration: none;
}



a:hover{
background-color: white;
color: #363636;
}

.corpo{
width: 100%;
align-items: center;
justify-content: center;
text-align: center;
margin-right: auto;
margin-left: auto;

}

.banner{
height: 400px;
width: 100%;
background-image: url("./banner2.png");
text-align: center;
background-size: cover; 
justify-content: center;
align-items: center;
margin-top: auto;

}

h1{

font-size: 45px;
font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

color: green;
}

h2{
font-size: 30px;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

.cant1{
    margin-top: 50px;
    width: 45%;
    height: 350px;
    border-radius: 5px;
  background-image: url(./billie.jpg);
  background-size: cover;
  margin: auto;
}

.textocant{
    padding:20px;
    font-family:Arial;
    font-size: 30px;
    text-align:center;
    color:black;
    opacity:0;
    transition: opacity .2s linear;
    background-color:rgba(255, 255, 255,0.4);
    height: 100%;
    margin: auto;
    
  }



.cant2{
    margin-top: 50px;
    width: 45%;
    height: 350px;
    border-radius: 5px;
    background-image: url(./justin.jpeg);
    background-size: cover;
    margin: auto;
}
.cant1:hover .textocant{
    opacity:1;
   }

.container-cant{
    display: flex;
    margin-top: 50px;
    
}

.cant2:hover .textocant{
    opacity:1;
   }
.texto{
 margin-top: 150px; 

}

footer{
    border-bottom: solid green 5px;
    height: 150px;
background-color: #363636;
text-align: center;
color: whitesmoke;
margin-top: 25px;

}

.textfooter{
    font-size: 20px;
}


.container-show{
    display: flex;
    width: 80%;
    height: 350px;
    margin: auto;
    margin-top: 50px;
    border-radius: 15px;
    background-image: url('./lolla.jpg');
    background-size: cover;
}

.container-show:hover .textocant{
    opacity: 1;
}

.container-show .textocant{
    font-size: 28px;
}